# Security Chapter Extract
Book: Andrey Sadovykh (editor), Dragos Truscan (editor), Wissam Mallou - CyberSecurity in a DevOps Environment_ From Requirements to Monitoring (2023, Springer) - libgen.li
Chapter: 3 - “Security Requirements Formalization with RQCODE.” This chapter presents 
an approach for formalizing the requirements by applying the seamless object-oriented requirements methods and the application of the approach to security 
requirements. The formalization offers beneﬁts such as improved reuse, a solid 
premise for veriﬁcation and validation of security requirements, and reinforce-
ment of system security. The chapter discusses the state-of-the-art requirements 
formalization and provides illustrative examples. 
Part II: Prevention at Development Time 
This part focuses on preventing vulnerabilities during the software development process, by providing ﬁrst a survey of existing methods for vulnerability detection 
and response, followed by two novel approaches for security test generation and vulnerability identiﬁcation in the source code, suitable for industrial systems. The three chapters included in this part are brieﬂy summarized in the following:
Security Relevance Score: 3
Word Count: 128
Extracted: 2025-06-13 23:40:22

---

“Security Requirements Formalization with RQCODE.” This chapter presents 
an approach for formalizing the requirements by applying the seamless object-oriented requirements methods and the application of the approach to security 
requirements. The formalization offers beneﬁts such as improved reuse, a solid 
premise for veriﬁcation and validation of security requirements, and reinforce-
ment of system security. The chapter discusses the state-of-the-art requirements 
formalization and provides illustrative examples. 
Part II: Prevention at Development Time 
This part focuses on preventing vulnerabilities during the software development process, by providing ﬁrst a survey of existing methods for vulnerability detection 
and response, followed by two novel approaches for security test generation and vulnerability identiﬁcation in the source code, suitable for industrial systems. The three chapters included in this part are brieﬂy summarized in the following:
