# Security Chapter Extract
Book: Gregory C. Rasner - Cybersecurity and Third-Party Risk_ Third Party Threat Hunting (2021, Wiley) - libgen.li
Chapter: 5 - reviews the activities and requirements for vetting and 
performing security assessments of new vendors or services from 
existing suppliers. Chapter  6 describes ongoing cybersecurity 
due diligence activities such as remote assessments.  Chapter 7 is 
then devoted to the important complex topic of on-site assess-
ments, which are essential due diligence processes for the physi-
cal validation of security controls at a vendor site and the gold 
standard for assurance.
Security Relevance Score: 3
Word Count: 69
Extracted: 2025-06-13 23:40:22

---

reviews the activities and requirements for vetting and 
performing security assessments of new vendors or services from 
existing suppliers. Chapter  6 describes ongoing cybersecurity 
due diligence activities such as remote assessments.  Chapter 7 is 
then devoted to the important complex topic of on-site assess-
ments, which are essential due diligence processes for the physi-
cal validation of security controls at a vendor site and the gold 
standard for assurance.
